<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

<header class="govuk-header " role="banner" data-module="header">

  <div class="govuk-header__container govuk-width-container">

    <div class="govuk-header__logo">
      <a href="#" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">


          <span class="govuk-header__logotype-text">
            DWP Digital
          </span>
        </span>
      </a>
    </div>
    <div class="govuk-header__content">

      <a href="../index" class="govuk-header__link govuk-header__link--service-name">
        DWP Content Design Manual
      </a>

      <button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
      <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
           <!-- <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Tips for remote working
            </a>
          </li> -->
          <!-- <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="/getting-started/getting-started-index">
              Getting started at DWP
            </a>
          </li> -->
          <!-- <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              How we work
            </a>
          </li> -->
          <li class="govuk-header__navigation-item govuk-header__navigation-item">
            <a class="govuk-header__link" href="/style-guides/style-guides-index">
              Style guides
            </a>
          </li>
          <!-- <li class="govuk-header__navigation-item govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              How to prototype
            </a>
          </li> -->
          <li class="govuk-header__navigation-item govuk-header__navigation-item">
            <a class="govuk-header__link" href="/community-events/community-events-index">
              Community events
            </a>
          </li>
          <!--<li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Line management
            </a>
          </li>-->
          <!--<li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Talking about Content Design
            </a>
          </li>-->
          <!-- <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Sharing your work
            </a>
          </li> -->
          <!--<li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="#">
              Managing content
            </a>
          </li>-->
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="/measuring-success/measuring-success-index">
              Measuring success
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
