{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
      Style guides
    </h1>
    <p>We use the DWP Style Guide, which can be found on the intranet. We also use the GOV.UK Style Guide.</p>

    <ul class="govuk-list govuk-list--bullet">

      <li><a href="https://intranet.dwp.gov.uk/section/communications/communication-standards/written-standards/style-guide" target="blank">DWP Style Guide (Intranet)</a></li>
      <li><a href="public/documents/notes-from-content-design-meetup-on-2-september-2019.pdf" target="blank">DWP Style Guide (PDF)</a></li>
      <li><a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style" target="blank">GOV.UK Style Guide</a></li>

    </ul>

    <div class="govuk-grid-column-two-thirds">







<div class="govuk-grid-row">

</div>
<div class="govuk-grid-row">

</div>

    </div>
</div>

{% endblock %}
