{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
      Designing notifications
    </h1>
    <p>Content Designers who work on end-to-end services will probably need to design notifications at some point. This includes letters, text messages and emails.</p>
    <p>Here is some guidance on how to do this effectively, and who to speak to if you need help from a Content Designer who's done this before.</p>
    <h2 class="govuk-heading-l">Letters</h2>


  <ul class="govuk-list">
    <li><a href="https://trello.com/b/12Q7i6HL" target="blank">Designing and approving letters Trello board</a></li>
    <p>You'll need to be signed in to Trello to open this. This is a proposed process to improve how service Content Designers can design letters, and get them approved for publication quickly and easily.</p>
    <li><a href="https://intranet.dwp.gov.uk/section/working-dwp/news-and-communications/communication-standards/design-standards/templates" target="blank">Generic DWP letter templates</a></li>
    <p>Some generic blank DWP letter templates, in both English and Welsh.</p>
    <li><a href="https://intranet.dwp.gov.uk/page/resources-notifications" target="blank">Letter templates for some DWP benefits</a></li>
    <p>Existing notifications which we currently issue to claimants for Universal Credit and New style ESA and JSA.</p>
    <li><a href="https://www.gov.uk/service-manual/design/writing-effective-letters" target="blank">Writing effective letters</a></li>
    <p>Guidance from the GDS design community on how to write effective letters.</p>
</ul>





    <h2 class="govuk-heading-l">Text messages and emails</h2>
    <p>Some links to help you design text messages and emails.</p>

    <ul class="govuk-list">


      <li><a href="https://intranet.dwp.gov.uk/section/organisation/service-excellence-group/service-transformation/digital-automation-and-telephony-efficiencies/sms-text-messaging-homepage" target="_blank">DWP Intranet SMS homepage</a>
      </li>
      <p>Lots of resources about how we send text messages to citizens.</p>

      <li><a href="https://intranet.dwp.gov.uk/policy/dwp-sms-text-policy" target="_blank">DWP SMS text policy</a>
      </li>
      <p>DWP official text message policy - some useful information about what we can and cannot do with text messages.</p>

      <li><a href="https://dwp-brand.apsmos.com/Resources/Communication%20Centre%20guide%20to%20using%20our%20html%20email%20templates.pdf" target="_blank">How to use DWP email templates (PDF)</a>
      </li>
      <p>How to add content to a DWP email template.</p>

      <li><a href="https://www.gov.uk/service-manual/design/sending-emails-and-text-messages" target="_blank">Planning and writing text messages and emails</a>
      </li>
      <p>Guidance from the GDS design community on how to write effective text messages and emails.</p>
</ul>



<h2 class="govuk-heading-l">Other useful links</h2>
<ul class="govuk-list">
<li><a href="https://communicationcentre.dwp.gov.uk/" target="_blank">DWP Communication Centre</a></li>
</li>
<p>General DWP brand resources, like other notifications and comms templates, logos and DWP brand colours.</p>
<li><a href="https://intranet.dwp.gov.uk/section/working-dwp/news-and-communications/communication-standards/welsh-language-unit" target="_blank">DWP Welsh Language unit</a></li>
</li>
<p>Details of the service to translate our communications into Welsh.</p>
</ul>

<h2 class="govuk-heading-l">Who to talk to</h2>

<p>These Content Designers have experience of designing notifications and getting them approved for publication:</p>
<ul class="govuk-list">
<li>Simon Bramble, Newcastle</li>
<li>Adele Murray, Newcastle</li>
<li>John Turnbull, London</li>
<li>Bryony Stuart, Leeds</li>
<li>Sarah Lombardi, Leeds</li>
</ul>

<div class="govuk-grid-row">


</div>
<div class="govuk-grid-row">

</div>

    </div>
</div>

{% endblock %}
