{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
      Style guides and design patterns
    </h1>
<h2 class="govuk-heading-l">Style guides</h2>

    <p>We use the DWP Style Guide, which can be found on the intranet. We also use the GOV.UK Style Guide.</p>

    <ul class="govuk-list govuk-list--bullet">

      <li><a href="https://intranet.dwp.gov.uk/section/communications/communication-standards/written-standards/style-guide" target="blank">DWP Style Guide (Intranet)</a></li>
      <li><a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style" target="blank">GOV.UK Style Guide</a></li>

    </ul>

    <h2 class="govuk-heading-l">Design patterns</h2>

    <p>We use the GOV.UK Design System, and the DWP Design Examples site.</p>

    <ul class="govuk-list govuk-list--bullet">

      <li><a href="https://design-system.service.gov.uk/" target="blank">GOV.UK Design System</a></li>
      <li><a href="https://dwp-design-examples.herokuapp.com" target="blank">DWP Design Examples</a></li>

    </ul>

    <div class="govuk-grid-column-two-thirds">







<div class="govuk-grid-row">

</div>
<div class="govuk-grid-row">

</div>

    </div>
</div>

{% endblock %}
