{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
      Site feedback
    </h1>
    <p>This site is very much a work in progress, and we have much more to add.</p>
    <p>We'd love to hear what else you need from this site.</p>
    <p>Please add your ideas to our <a href="https://trello.com/b/1eJQmfYQ">Content Design Manual Trello board</a></p>
















<div class="govuk-grid-row">


</div>
<div class="govuk-grid-row">

</div>

    </div>
</div>

{% endblock %}
