{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
      Site feedback
    </h1>
    <p>This site is very much a work in progress, and we have much more to add. In the meantime, the Content Design senior leadership team would love to hear what else you need from this site.</p>
    <p>Please send us an email with your thoughts and ideas:</p>
    <p><a href="mailto:content.design@engineering.digital.dwp.gov.uk" class="govuk-link">content.design@engineering.digital.dwp.gov.uk</a></p>
















<div class="govuk-grid-row">


</div>
<div class="govuk-grid-row">

</div>

    </div>
</div>

{% endblock %}
