{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
      Designing content
    </h1>
    <p>Some useful links to help you design content effectively.</p>
    <h2 class="govuk-heading-l">GOV.UK guidance</h2>


  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://www.gov.uk/service-manual/design" target="blank">Design section of Service manual</a></li>
    <li><a href="https://www.gov.uk/guidance/content-design" target="blank">Content design: planning, writing and managing content</a></li>
    <li><a href="https://www.gov.uk/government/publications/content-designer-role-description" target="blank">Content designer: role description</a></li>
    <li><a href="https://www.gov.uk/government/publications/content-designer-skills-they-need" target="blank">Content designer: skills they need</a></li>
    </ul>

    <h2 class="govuk-heading-l">Trello boards</h2>
    <p>You'll need to make sure you're signed in to Trello before you try these links.</p>

    <ul class="govuk-list govuk-list--bullet">

      <li><a href="" target="blank">Content design 2i</a></li>
      <li><a href="" target="blank">Designing and approving letters</a></li>
      <li><a href="" target="blank">Content design 2i</a></li>


    Content design shared community tasks












<div class="govuk-grid-row">


</div>
<div class="govuk-grid-row">

</div>

    </div>
</div>

{% endblock %}
