{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
      Content Design resources
    </h1>
    <p>Some general links to help you design content effectively.</p>
    <h2 class="govuk-heading-l">Introduction to Content Design</h2>
<h3 class="govuk-heading-m">General Content Design links</h3>

  <ul class="govuk-list">
    <li><a href="https://gds.blog.gov.uk/2014/03/14/what-we-mean-when-we-talk-about-content-design/" target="_blank">GOV.UK: What we mean when we talk about content design</a></li>
    <li><a href="https://www.gov.uk/service-manual/design" target="_blank">Design section of GOV.UK Service Manual</a></li>
    <li><a href="https://www.gov.uk/guidance/content-design" target="_blank">GOV.UK: Content design- planning, writing and managing content</a></li>
    <li><a href="https://www.gov.uk/government/publications/content-designer-role-description" target="_blank">GOV.UK: Content designer - role description</a></li>
    <li><a href="https://www.gov.uk/government/publications/content-designer-skills-they-need" target="_blank">GOV.UK: Content designer- skills they need</a></li>
    <li><a href="https://digitalblog.coop.co.uk/2016/06/13/why-content-design-matters-at-co-op/" target="_blank">Why content design matters at Co-op</a></li>
    <li><a href="https://storyneedle.com/what-is-content-design/" target="_blank">What is Content Design?</a></li>
    </ul>

<h3 class="govuk-heading-m">Content Design case studies</h3>

<ul class="govuk-list">
  <li><a href="https://conversation.which.co.uk/home-energy/sse-new-clearer-energy-bills/" target="_blank">SSE Redesigning their energy bills</a></li>
  <li><a href="https://sse.com/newsandviews/allarticles/2016/02/new-sse-bill-design-aims-to-end-energy-bill-confusion/" target="_blank">SSE ending energy bill confusion</a></li>
  <p>These two articles show how SSE redesigned their energy bills to make them better for users. They found that users were only interest in a couple of pieces of information (the price and when they needed to pay) so the letter was simplified to make these as clear as possible.</p>

  <li><a href="https://wearecitizensadvice.org.uk/why-we-removed-the-only-feature-everyone-liked-in-our-new-advice-tool-818c2793eb61" target="_blank">Why we removed the only feature everyone liked in our new advice tool – Katherine Vaughan</a></li>
  <p>This article by Citizens Advice talks about the reasons why they removed their ‘quick links’ feature despite the fact it was popular. It’s a good example of how using data and analysing websites as a whole can take you beyond just ‘what people like’ to create a better user experience.</p>

  <li><a href="https://digital.nhs.uk/blog/transformation-blog/2019/creating-better-content-for-users-with-low-health-literacy" target="_blank">Creating better content for users with low health literacy – NHS Digital
</a></li>
<p>Mark Robinson and Ana Savic talk about how they designed content for users with low health literacy.</p>
  </ul>

<h2 class="govuk-heading-l">Content Design techniques</h2>

<h3 class="govuk-heading-m">Content Design at each project phase</h3>
<p>These are some of the <a href="/content-design-resources/content-design-at-each-phase">things a Content Designer can be doing at each agile project phase.</a></p>

<h3 class="govuk-heading-m">User stories</h3>
<ul class="govuk-list">
<li><a href="https://contentdesign.london/content-design/content-discovery/" target="_blank">Content design techniques: User and job stories</a></li>
<li><a href="https://contentdesign.london/content-design/user-stories-and-job-stories/" target="_blank">User stories and job stories</a></li>
</ul>

<h3 class="govuk-heading-m">Content discovery</h3>
<ul class="govuk-list">
<li><a href="http://wwwf.imperial.ac.uk/blog/content-design/2018/05/17/content-design-techniques-user-and-job-stories/" target="_blank">Content discovery</a></li>
</ul>

<h3 class="govuk-heading-m">Content audits</h3>
<ul class="govuk-list">
<li><a href="http://wwwf.imperial.ac.uk/blog/content-design/2018/02/01/content-design-techniques-content-audits/" target="_blank">Content design techniques: content audits</a></li>
</ul>

<h3 class="govuk-heading-m">Problem statements</h3>
<ul class="govuk-list">
<li><a href="https://medium.com/leading-service-design/how-to-write-a-problem-statement-50e2c87810fe" target="blank">How to write a problem statement by Mel Cannon</a></li></ul>

<h3 class="govuk-heading-m">Naming things</h3>
<ul class="govuk-list">
  <li><a href="https://dwpdigital.blog.gov.uk/2017/02/28/helping-teams-define-their-focus/" target="blank">Helping teams define their focus by Mel Cannon</a></li>
  <li><a href="https://medium.com/gov-design/naming-teams-and-services-c78b9aa08370" target="blank">Naming teams and services by Rebekah Barry</a></li></ul>
<!--
<h3 class="govuk-heading-m">x</h3>
<ul class="govuk-list">
<li><a href="http://wwwf.imperial.ac.uk/blog/content-design/2018/05/17/content-design-techniques-user-and-job-stories/" target="_blank">Content discovery</a></li>
</ul>

<h3 class="govuk-heading-m">x</h3>
<ul class="govuk-list">
<li><a href="http://wwwf.imperial.ac.uk/blog/content-design/2018/05/17/content-design-techniques-user-and-job-stories/" target="_blank">Content discovery</a></li>
</ul>

<h3 class="govuk-heading-m">x</h3>
<ul class="govuk-list">
<li><a href="http://wwwf.imperial.ac.uk/blog/content-design/2018/05/17/content-design-techniques-user-and-job-stories/" target="_blank">Content discovery</a></li>
</ul>-->

    </ul>


    













<div class="govuk-grid-row">


</div>
<div class="govuk-grid-row">

</div>

    </div>
</div>

{% endblock %}
