{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
      Talking about Content Design
    </h1>
    <p>Some tools to help you talk about Content Design, what we do and how we add value to services.</p>

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="#">Notes from Content Design meetup on 2 September 2019 (PDF)</a></li>

  </ul>











<div class="govuk-grid-row">


</div>
<div class="govuk-grid-row">

</div>

    </div>
</div>

{% endblock %}
