{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
      Style guides and content patterns
    </h1>
<h2 class="govuk-heading-l">Style guides</h2>

    <p>We use a combination of the DWP and GOV.UK style guides.</p>

    <ul class="govuk-list">

      <li><a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style" target="_blank">GOV.UK style guide</a></li>
      <p>The Government Digital Service style guide covers style, spelling and grammar conventions for all content published on GOV.UK, arranged alphabetically.</p>
      <li><a href="https://intranet.dwp.gov.uk/section/communications/communication-standards/written" target="_blank">DWP general written standards</a></li>
      <p>Guidance to help us make sure people understand and engage with our messages.</p>
      <li><a href="https://intranet.dwp.gov.uk/section/communications/communication-standards/written-standards/style-guide" target="_blank">DWP style guide</a></li>
      <p>The DWP style guide is maintained by a working group called the style council. They meet periodically to discuss additions and updates. You can contact them for clarification and to suggest additions to the style guide: oedcustomercommunications.design@dwp.gov.uk</p>

    </ul>

    <h2 class="govuk-heading-l">Content patterns</h2>
      <ul class="govuk-list">

          <li><a href="https://wiki.ucd.gpn.gov.uk/display/UX/Content+patterns" target="_blank">Universal Credit</a></li>
          <p>If you're working on Universal Credit and have access to their Confluence space, you can also see some things that do not fit the style guide but are often asked about.</p>

        <h2 class="govuk-heading-l">Other resources</h2>

    <ul class="govuk-list">

      <li><a href="https://readabilityguidelines.co.uk/" target="_blank">Content Design London Readability Guidelines</a></li>
      <li><a href="https://www.theguardian.com/guardian-observer-style-guide-a" target="_blank">The Guardian and Observer style guide</a></li>

    </ul>


    <div class="govuk-grid-column-two-thirds">







<div class="govuk-grid-row">

</div>
<div class="govuk-grid-row">

</div>

    </div>
</div>

{% endblock %}
