{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
      Notify workshop on 9 December 2019
    </h1>
    <p>Karl Chillmaid, Senior Content  Designer on GOV.UK Notify, ran a workshop about better letter design. He sent over some notes afterwards.</p>
    <h2 class="govuk-heading-l">Notes</h2>
<p>Thanks again for the opportunity to facilitate a workshop at your content community meet up.</p>

<p>Sorry that the end of the session felt a bit rushed. We let the conversations run on so everyone had time to discuss the questions on the worksheet, but that meant I had to skip the bit about resources and next steps. It was the first time we'd run the session, and the timings definitely need work.</p>

<p>Anyway, what I would have said was:</p>

<p>Andrew Long is going to keep the worksheets and use your answers (especially the ones about ways to solve these problems and things you can do to support one another) in future DWP content community activity
I'm going to share highlights from the session with the rest of the Notify team in early 2020.</p>

<p>The insights we gained will be helpful when iterating template designs, developing more complex features like drafts and versioning, and thinking about how Notify might better support content designers in the future
Finally, here are some links to further information. I hope they're useful.</p>

<h3 class="govuk-heading-m">Service manual guidance</h3>
<h4 class="govuk-heading-s">Writing effective letters</h4>

<p>Earlier this year, I worked with the Service Manual team to publish the first draft of <a href="https://www.gov.uk/service-manual/design/writing-effective-letters" target="_blank">writing effective letters</a>. It includes advice on:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>deciding whether you should send a letter</li>
  <li>how to structure letters</li>
  <li>changing existing letters</li>
</ul>

<p>We'd love to get feedback from other teams sending letters, so we can iterate and improve the guidance.</p>

<h4 class="govuk-heading-s">Planning and writing text messages and emails</h4>

<p>The <a href="https://www.gov.uk/service-manual/design/sending-emails-and-text-messages" target ="_blank">guidance for planning and writing text messages and emails</a> was last updated a couple of years ago – so we'd welcome your feedback on this too.</p>

<h4 class="govuk-heading-s">Sending letters with GOV.UK Notify</h4>
<p>GOV.UK Notify will print, pack and post your letters for you.</p>

<p>There are 2 ways to send a letter with Notify. You can:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>create a reusable template in Notify</li>
  <li>upload your own letter as a PDF file</li>
</ul>

<p>Uploading your own letters is an API only feature at the moment, but we're designing a simple way to let users upload PDFs through the Notify interface. The first iteration of this feature is nearly ready and we plan to release it in the new year.</p>

<h4 class="govuk-heading-s">Questions about GOV.UK Notify</h4>
<p>Notify provides <a href="https://www.notifications.service.gov.uk/support/ask-question-give-feedback" target ="_blank">online support.</a></p>

<p>If you can access cross-government Slack, you can chat to us on the <a href="https://app.slack.com/client/T04V6EBTR/C0E1ADVPC" target="_blank">#govuk-notify channel</a></p>

<div class="govuk-grid-column-two-thirds">












<div class="govuk-grid-row">


</div>
<div class="govuk-grid-row">

</div>

    </div>
</div>

{% endblock %}
