{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
      Community events
    </h1>
    <p>Details of community events, past and future.</p>
    <h2 class="govuk-heading-l">Content Design community meetups</h2>

    <h3 class="govuk-heading-m">Newcastle, June 2020
    <h4 class="govuk-heading-s">Agenda</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>To follow</li>

    </ul>


    <h3 class="govuk-heading-m">London, 12 March 2020</h3>
    <h4 class="govuk-heading-s">Agenda</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>To follow</li>

    </ul>
    <h4 class="govuk-heading-s">Notes</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>To follow</li>

    </ul>

    <h3 class="govuk-heading-m">Leeds, 9 December 2019</h3>

    <h4 class="govuk-heading-s">Agenda</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>To follow</li>

    </ul>
    <h4 class="govuk-heading-s">Notes</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>To follow</li>

    </ul>

    <h3 class="govuk-heading-m">Manchester, 2 September 2019</h3>
    <h4 class="govuk-heading-s">Notes</h4>
    <ul class="govuk-list govuk-list--bullet">
      <li>To follow</li>

    </ul>

<div class="govuk-grid-column-two-thirds">













<div class="govuk-grid-row">


</div>
<div class="govuk-grid-row">

</div>

    </div>
</div>

{% endblock %}
