
{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <h1 class="govuk-heading-xl">
    DWP Content Design Manual
  </h1>
  <h3 class="govuk-heading-m">Our mission</h3>
<p>Create clear content which helps users to find, understand and complete their goal with the minimum of time, stress and effort.</p>

<h3 class="govuk-heading-m">The problem we're here to solve</h3>

<p>DWP creates content for internal and external users. For both groups, our content can be difficult to find, understand and use. This is because it’s not always designed specifically to meet their needs.</p>

<p>As a result, citizens struggle to get what they need by themselves, and DWP staff cannot always give them a sufficient level of support.</p>

<p>This has a negative impact on people’s wellbeing and society as a whole. And it costs DWP and the wider economy money.</p>

<p>There’s an opportunity to address this by designing content that enables:</p>

<ul class="govuk-list govuk-list--bullet">
<li>people to easily complete a task or find information for themselves wherever appropriate</li>
<li>DWP’s staff to provide effective support to people who need it</li>

</ul>
  <div class="govuk-grid-column-two-thirds">







<div class="govuk-grid-row">

</div>
<div class="govuk-grid-row">

</div>

  </div>
</div>

{% endblock %}
