{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
      Broadcast a content crit in Slack
    </h1>
    <p>Tools and advice on how to get your work reviewed and how to review other people's work.</p>






    <h2 class="govuk-heading-l">Preparing for a broadcast</h2>
    <p>A day or two before the call:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>tell colleagues in the #content-design-crits channel that the broadcast will be taking place</li>
    <li>give people a bit of detail about what the crit will be covering</li>
    <li>set a reminder in the #content-design-crits channel using the format:</li>
    <p>/remind #content-design-crits Content crit on subject on 27 February at 14:10</p>
     </ul>

    <h2 class="govuk-heading-l">Before you start</h2>
    <h3 class="govuk-heading-m">Give yourself enough time to set up</h3>
    <p>Allow 10 minutes to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>make sure IT equipment and audio is working properly – it can be helpful to make a test call to a colleague to make sure everything is working</li>
    <li>set up a call in Slack and allow people to join</li>
    <li>share your screen in Slack</li>

     </ul>



    <h3 class="govuk-heading-m">Agree who will monitor online questions</h3>
    <p>Someone will need to pass the questions and comments typed in Slack to the presenter during the broadcast.</p>

    <p>It helps if this is someone other than the content designer who is talking about their content and responding to verbal questions.</p>



    <h2 class="govuk-heading-l">Running the broadcast</h2>
    <h3 class="govuk-heading-m">Start a call in the <a href="https://dwpdigital.slack.com/messages/CEXKQTZLK" target="_blank">#content-design-crits</a> channel:</h3>
    <ul class="govuk-list govuk-list--number">
      <li>Select the <b>phone icon</b> at the top right</li>
      <li>Confirm you'd like to start a call. Give the call a name if you'd like, then click <b>Start new call</b></li>
      <li>Any member of the channel can join by selecting <b>Join this call</b></li>

     </ul>

     <p><a href="https://get.slack.help/hc/en-us/articles/216771908-Make-calls-in-Slack" target="_blank">More guidance on making calls in Slack</a></p>

    <h3 class="govuk-heading-m">Share your screen</h3>
    <p>During the call, select the <b>Share your screen</b> icon so that participants can see the content you want them to review.</p>
    <p><a href="https://get.slack.help/hc/en-us/articles/115003501303-Share-your-screen-with-Slack-Calls" target="_blank">More guidance on screen sharing</a></p>

    <h3 class="govuk-heading-m">Introduce your content</h3>
    <p>Welcome people on the call and do a short introduction to restate what the crit will cover.</p>

    <h2 class="govuk-heading-l">Other hints and tips</h2>
    <h3 class="govuk-heading-m">During the call:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>avoid sitting in a noisy area – background noise can be disruptive</li>
      <li>if you’re in the same room as someone else who’s on the same Slack call, use only one microphone to avoid audio feedback</li>
      <li>stay on mute unless you need to talk – remember your micprophone will be live by default when you join</li>
      <li>it’s okay not to say anything – we’re there to learn as well as help</li>
     </ul>








<div class="govuk-grid-row">


</div>
<div class="govuk-grid-row">

</div>

    </div>
</div>

{% endblock %}
