{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-xl">
      Reviewing our work
    </h1>
    <p>Tools and advice on how to get your work reviewed and how to review other people's work.</p>



  <ul class="govuk-list">
    <li><a href="https://trello.com/b/G1AbERvo" target="_blank">DWP Content Design 2i Trello board</a></li>
    <p>You'll need to be signed in to Trello to use this. This was set up for each service team to 2i their content. '2i' means to give a piece of content a second 'eye' – that is, check it against certain criteria and proofread it – before it's published or shared.</p>
    <li><a href="/reviewing-our-work/how-to-broadcast-a-content-crit">How to broadcast a content crit in Slack</a></li>
    <p>In the past, we've broadcast content crits via Slack for the whole community to join - here's how to do it.</p>
    <li><a href="https://contentdesign.london/content-design/content-crits/" target="_blank">Content crits – Sarah Richards</a></li>
    <p>Sarah Richards was the head of content design at GDS and pioneered it as a profession in government. She established content crits as a part of the design process so worth reading about it from her.</p>
    <li><a href="https://medium.com/@natalie_shaw/the-virtues-of-a-content-crit-9988b911fd96" target="_blank">The virtues of a content crit – Natalie Shaw</a></li>
    <p>Another good explainer about how to run content crits and what the benefits of them are.</p>

  </ul>


















<div class="govuk-grid-row">


</div>
<div class="govuk-grid-row">

</div>

    </div>
</div>

{% endblock %}
